/* Custom CSS for logo size */
.navbar-brand img {
    height: 100px !important;
    max-height: 100px !important;
    width: 400px !important;
    max-width: 400px !important;
    object-fit: contain !important;
}

.navbar-brand {
    height: 100px !important;
    padding: 5px 0 !important;
}

header[role="navigation"],
.ant-layout-header,
nav.navbar {
    min-height: 110px !important;
    height: auto !important;
}
